<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expected start date</th>
      <th>Expected end date</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Parent</th>
      <th>Out line level</th>
      <th>Man hours</th>
      <th>Progress</th>
      <th>Description</th>
      <th>Deleted</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.expected_start_date %></td>
        <td><%= task.expected_end_date %></td>
        <td><%= task.start_date %></td>
        <td><%= task.end_date %></td>
        <td><%= task.parent_id %></td>
        <td><%= task.out_line_level %></td>
        <td><%= task.man_hours %></td>
        <td><%= task.progress %></td>
        <td><%= task.description %></td>
        <td><%= task.deleted %></td>
        <td><%= task.project_id %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
